<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613744646926-2po7g7e5l3t2ltg9l30hu13ce2hfr4mc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613744646926-2po7g7e5l3t2ltg9l30hu13ce2hfr4mc</string>
	<key>API_KEY</key>
	<string>AIzaSyCSzWZL_PxJYlNTay7iRdgAfKgJUaTw-G8</string>
	<key>GCM_SENDER_ID</key>
	<string>613744646926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.staffAttendance</string>
	<key>PROJECT_ID</key>
	<string>staffattendance-3bba1</string>
	<key>STORAGE_BUCKET</key>
	<string>staffattendance-3bba1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613744646926:ios:7524261314a0583e</string>
	<key>DATABASE_URL</key>
	<string>https://staffattendance-3bba1.firebaseio.com</string>
</dict>
</plist>